body{
	background-image: url('../images/background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	margin: 25px 25px 25px 25px;
}

/*Home Icon*/
img, h1, p, #homePhoto{
	display: inline-block;
	color: white;
	font-family: "Montserrat", sans-serif;
}

#homeIcon{
	margin: -25px -25px 10px -25px;
	width: 48%;
	float: left;
	padding: 25px;
	text-shadow: 0px 0px 40px #121212;
}

#homeIcon img{
	float: left;
	max-width: 100%;
}

h1 {
	font-size: 3.75vw; /*48px*/
	font-family: "Courier New", monospace;
	padding-left: 15px;
	clear: left;
	margin-top: 0;
}

#homeIcon > p {
	font-style: italic;
	font-size: 1.25vw; /*16px*/
	opacity: 0.4;
	letter-spacing: 0.5px;
	margin: -36px 0 0 76px;
	padding: 0;
	clear: left;
	float: left;
}

#homePhoto{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/*Text Background*/
#three, .homeButtons{
	background-color: hsl(0, 100%, 100%, 0.05);
	box-shadow: 0px 0px 20px #121212;
}

/*Paragraph Format*/
p {
	font-size: 3vw;
	margin: 5px;
}

/*Columns*/
#two {
	float: right;
	width: 48%;
	height: 40%;
}

#three {
	padding: 15px;
	float: left;
	clear: left;
	width: 48%;
	height: 40%;
}

/*Buttons*/
#buttons {
	float: left;
	margin-top: 50px;
}

.homeButtons{
	font-family: 'Montserrat', sans-serif;
	font-style: bold;
	font-size: 2.09vw;
	text-decoration: none;
	color: #00FFFF;
	width: 100%;
	padding: 10px 40px;
	margin-right: 15px;	
}

.homeButtons:hover{
	color: black;	
	background-color: #00FFFF;
	box-shadow: 0px 0px 10px #00FFFF;
}

/*Footer*/
footer {
	background-color: #121212;
	margin-top: 50px;
	width: 100%;
	text-align: center;
	float: center;
	clear: none;
	display: inline-block; 
	margin: 50px -25px -25px -25px;
	padding: 25px;
	box-shadow: 0px 0px 40px #121212;
}

footer > #copyrightText{
	font-size: 16px;
}

footer > hr{
	width: 50%;
}

/*Image Sprites*/

#icons li, #icons a{
	display: inline-block;
	height: 32px;
	width: 32px;
	max-width: 100%;
}

#facebook{
	background: url('../images/library/icon.gif') no-repeat top right;
}

#twitter{
	background: url('../images/library/icon.gif') no-repeat top left;
}

#youtube{
	background: url('../images/library/icon.gif') no-repeat -64px 0px;
}

#mail{
	background: url('../images/library/icon.gif') no-repeat -32px 0px;
}

#facebook:hover{
	background: url('../images/library/icon.gif') no-repeat -96px -32px;
}

#twitter:hover{
	background: url('../images/library/icon.gif') no-repeat 0px -32px;
}

#mail:hover{
	background: url('../images/library/icon.gif') no-repeat -32px -32px;
}

#youtube:hover{
	background: url('../images/library/icon.gif') no-repeat -64px -32px;
}